
body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 10%;
    left: 30%;
}

form {
    border: 4px solid #f1f1f4;
    padding: 10px;
    padding-left: 10%;
}

a {
    cursor: pointer;
}
  
input[type=email], input[type=password], input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 14px;
}

/* #login-btn, #signup-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 14px;
} */

button:hover {
    opacity: 0.8;
}

#loginPanel, #signupPanel, #homePanel {
    padding: 20px;
    width: 30%;
}

a:link {
    color: #4CAF50;
    text-decoration: none;
}
  
  
a:visited {
    color: green;
    text-decoration: none;
}
  

a:hover {
    color: #4CAF21;
    text-decoration: none;
}
  
a:active {
    color: #4CAF50;
    text-decoration: none;
}

.success-alert {
    color: #4CAF21;
}

.danger-alert {
    color: red;
}

.hide {
    display: none;
}